<a class="btn btn-primary" href="/instance/add">
    <span class="glyphicon glyphicon-plus"></span> Add</a>
<div ng-controller="SprutInstanceListCtrl">
    <div  ng-repeat="instance in instances">
        <span ng-switch="" on="$index%3">
            <div class="row" ng-switch-when="0">
                <div class="col-md-4" ng-show="instances[$index+0]">
                    {{ instances[$index+0].sid }}
                    <button class="btn btn-small" ng-click="stop(instances[$index+0].id)">
                        <span class="glyphicon glyphicon-stop"></span>
                    </button>
                </div>
                <div class="col-md-4" ng-show="instances[$index+1]">
                    {{ instances[$index+1].sid }}
                    <button class="btn btn-small" ng-click="stop(instances[$index+0].id)">
                        <span class="glyphicon glyphicon-stop"></span>
                    </button>
                </div>
                <div class="col-md-4" ng-show="instances[$index+2]">
                    {{ instances[$index+2].sid }}
                    <button class="btn btn-small" ng-click="stop(instances[$index+0].id)">
                        <span class="glyphicon glyphicon-stop"></span>
                    </button>
                </div>
            </div>
        </span>
    </div>
</div>