{% extends "layout.html" %}
{% block head %}
        {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
{% endblock %}

{% block container %}
    <span class="h2 center-block">Upload update archive</span>
    <form  role="form" action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Выберите обновление для загрузки</label>
            <input type="file"  id="file" name="file">
        </div>
        <button class="btn btn-primary">Upload</button>
    </form>
{% endblock %}


